html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------- END OF RESETTING --------------- */

@font-face {
    font-family:'CaveatRegular';
    
    src: url('fonts/Caveat/static/Caveat-Regular.ttf') format('truetype');
    
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:'CaveatBold';
    
    src: url('fonts/Caveat/static/Caveat-Bold.ttf') format('truetype');
    
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family:'LexendBold';
    
    src: url('fonts/Lexend/Lexend-Bold.ttf') format('truetype');
    
    font-style:normal;
    font-weight:normal;
}

@font-face {
    font-family: 'LexendRegular';
    src: url('fonts/Lexend/Lexend-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'LexendLight';
    src: url('fonts/Lexend/Lexend-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'LexendThin';
    src: url('fonts/Lexend/Lexend-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/*                                    FONT                                    */

#banner {
    height:27vw;
    background-size:contain;
    background-position:45% 50%;
    background-repeat:no-repeat;
    background-attachment:scroll;
    width:calc(100%);
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#bannertexts {
    display : flex;
    height: 27vw;
    flex-direction: column;
    justify-content: center;
}

#bannertexts h1 {
    color:black;
    font-family:'CaveatBold';
    font-size:3.5vw;
    animation-name:landing;
    animation-duration:1s;
    animation-delay:0s;
    animation-iteration-count:1;
}

@keyframes landing {
    0%      {opacity:0;}
    100%    {opacity:1;}
}

@keyframes landing-sub {
    0%      {opacity:0;}
    75%     {opacity:0;}
    100%    {opacity:1;}
}

#bannertexts h2 {
    color:#5f6368;
    font-family:'LexendRegular';
    font-weight:lighter;
    font-size:1.1vw;
    text-transform:uppercase;
    margin:0.2vw 0vw 0vw 0.5vw;
    animation-name:landing-sub;
    animation-duration:1.5s;
    animation-delay:0s;
    animation-iteration-count:1;
}



nav {
    background: #fbe92b;
    display: flex;
    
    padding: 1vw 0vw 1vw 0vw;
    justify-content: flex-end;
    box-shadow: 5px 8px black;
    width:100%;
}

nav a {
    color:inherit;
    
    
}

nav a:hover {
    color: #fefefe;
    text-decoration:none;
}

nav ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width: 40vw;
}

nav li {
    display: flex;
    font-family:'CaveatBold';
    align-items: center;
    font-size: 2.1vw;
}

#presentation {
    background-image:url('img/bg.png');
    background-repeat:repeat;
    padding:2vw;
    display:flex;
    justify-content:center;
}

.title {
    display:flex;
    align-items:center;
    flex-direction: column;
    width: 80%;
    padding : 2vw 0vw 2vw 0vw;
}

.title h1 {
    font-size:3.2vw;
    font-family: 'LexendBold';
    color: #ffffff;
    text-align: center;
    margin-bottom: 4vw ;  
}

.title p {
    word-wrap:break-word;
    font-family:'LexendRegular';
    text-align:center;
    font-size: 1.7vw;
    width: 60vw;
}

#presentation_contain{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.title img {
    width: 40vw;
    margin: auto;
    margin-top: 2.5vw;
    border: 0.8vw solid white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
}
#products {
    background:#ffffff;
    display:flex;
    justify-content:center;
    padding : 5vw 0vw 4vw 0vw;
}

#products img
{
    width:40vw;
}

.lemonade {
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.lemonade-subdesc h1 {
    align-items: center;
    font-size:3.2vw;
    font-family: 'LexendBold';
    color: #2c3e50;
    text-align: center;
    margin-bottom: 4vw;
    
}

.lemonade-subdesc p {
    word-wrap:break-word;
    font-family:'LexendRegular';
    text-align:center;
    font-size: 1.7vw;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

#events {
    background-image:url('img/bg.png');
    background-repeat:repeat;
    padding:3vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

#events h2 
{
	font-family: 'LexendBold';
	font-size:4vw;
	color:#fff;
    text-align: center;
    margin-bottom: 1vw;
}

.events-list {
	
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.event 
{
	background:#fff;
	width:65vw;
	margin:1.5vw 0vw;
	padding:1.6vw;
	border-radius:3px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.12),inset 0 -1px 0 0 #dadce0;
}

.event h3 {
	font-family: 'LexendBold';
	font-size:2vw;
	font-weight:lighter;
	color: #2c3e50;
}

.event p {
	font-family:'LexendRegular';
	color:#e58e26;
    font-size: 1.2vw;
    padding-top: 0.5vw;
}


#contact {
	background:#fff;
	padding:2rem;
	display:flex;
	justify-content:center;
	flex-direction:row;
}

.contactform {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.contactform h2 {
	font-family:'LexendBold';
	font-size:3vw;
	margin:1.5em 0em;
   
}

.contactform img {
	width:15vw;
}

form {
	padding:1rem;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	width:70vw;
}

.checkbox-wrapper {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
}
.checkbox-wrapper input[type=checkbox]{
    font-size: 2vw;
    width: 2vw;
    height: 1vw;
}

.checkbox-wrapper label {
	font-family:'LexendRegular';
	font-size:2vw;
}

input[type=text], input[type=email], textarea {
	margin:0.5vw;
	border:1px solid #e6e6e6;
	background:none;
	border-radius:3px;
	color:#2c3e50;
	width:60vw;
	font-size:1.9vw;
	font-family:'LexendRegular';
	padding:0.8vw;
}

input[type=submit] {
	width:15vw;
	margin:0.8vw;
	background:#2c3e50;
	border:none;
	font-family:'LexendBold';
	font-weight:lighter;
	color:white;
	text-transform:uppercase;
	padding:0.8vw 0.4vw;
	font-size:1.3vw;
	border-radius:3px;
	cursor:pointer;
}
footer{
    background-image:url('img/bg.png');
    display : flex;
    flex-direction: column;
    padding : 2.5vw 10vw 2.5vw 10vw;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
footer>div p{
    margin-left: 1.5vw;
    font-size: 2.5vw;
}
footer img{
    width: 2.3vw;
}
footer section div{
    display: flex;
    flex-direction: row;
    justify-content: center; align-items: center;
}
footer section div p{
    margin-left: 1.5vw;
    font-size: 2.5vw;
}
footer div p a:link{
    text-decoration: none;
}
footer div p a {
    text-decoration: black;
    color: inherit;
    font-family:'LexendRegular';
}


@media screen and (min-width: 768px){

    #bannertexts h1{
        font-size: 3.7vw;
    }

    nav li {
        display: flex;
        align-items:unset;
        font-size: 1.8vw;
    }
    .title {
        width:85%;
        align-items:center;
        padding: 2.5vw 0vw 1.5vw 0vw;
    }
    .title h1 {
        flex-direction: none;
    }
    #presentation_contain{
        flex-direction: row;
        align-items: center;
        margin: 2.5vw 0vw 2.5vw 0vw;
    }
    #presentation_contain p {
        text-align:justify;
        font-size: 1.2vw;
        width : 35vw;
        padding-right: 3vw;
                
    }
    .title img {
        width: 30vw;
        margin-left: 1.5vw;
        margin-top: 0rem;
    }    
    .lemonade {
        flex-direction: unset;
        padding : 0vw;
    }

    #products {
        padding : 0vw 0vw 2vw 0vw;
        
    }
    .event{
        width: 60vw;
        padding:1.2vw;
    }
    .event h3 {
        font-size:1.6vw;
    }
    
    .event p {
        font-size: 1.1vw;
    }

    
    .lemonade-subdesc h1 {
        align-items: flex-start;
        font-size: 3vw;
        text-align: left;
    }
    
    .lemonade-subdesc p {
        text-align:left;
        font-size: 1.2vw;
    } 
    footer{
        flex-direction: row;
        justify-content: center;
    }
    footer>div{
        margin-top: 0px;
        margin-left: 10vw;

    }
    footer section{
        justify-content: space-around;
        
    }
    footer #instagram{
        margin-right: 10vw;
    }
    footer section div p{
        font-size: 1.5vw;
    }
    footer div p{
        font-size: 1.5vw;
    }
    footer div img{
        width: 1.5vw;
    }
    input[type=text], input[type=email], textarea {
        font-size: 1vw;
        width: 55vw;
    }
    .checkbox-wrapper label {
        font-size:1.5vw;
    }
    
}

